# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [2]:
import numpy as np

def MA(sequence,k):
    ma_sequence_len=len(sequence)-k+1
    ma_sequence=[sum(sequence[i:(i+k)])/k for i in range(0,ma_sequence_len)]
    return(ma_sequence)
MA([3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] ,3)

[5.0,
 4.666666666666667,
 5.666666666666667,
 6.666666666666667,
 9.666666666666666,
 28.666666666666668,
 49.333333333333336,
 72.66666666666667,
 84.0,
 93.33333333333333,
 116.33333333333333]

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [47]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
vals=df['X'].values
index_0=np.argwhere(vals==0) 
index_0=index_0.flatten()
index_start=0
index_series=pd.Series(np.arange(len(vals)))


max([i if i<=0 else 0 for i in index_0 ])
df['Y']=index_series.apply(lambda x:x-max([i if i<=x else 0 for i in index_0]))
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [52]:
index_vals=pd.date_range(start='2015-01-01',end='2015-12-31',freq='B')
pd.Series(np.random.rand(len(index_vals)),index=index_vals)

2015-01-01    0.327273
2015-01-02    0.229059
2015-01-05    0.523912
2015-01-06    0.438671
2015-01-07    0.470478
2015-01-08    0.491368
2015-01-09    0.271588
2015-01-12    0.222279
2015-01-13    0.332893
2015-01-14    0.505980
2015-01-15    0.207702
2015-01-16    0.686228
2015-01-19    0.849650
2015-01-20    0.326095
2015-01-21    0.155762
2015-01-22    0.888755
2015-01-23    0.941093
2015-01-26    0.118101
2015-01-27    0.561188
2015-01-28    0.893613
2015-01-29    0.689195
2015-01-30    0.290914
Freq: B, dtype: float64

Q.4